.movie-list p{
    background-color: rgba(93, 217, 228, 0.868);
    color:rgb(88, 0, 99);
    width: fit-content;
    border-radius: 4px;
}
.movie-display div{
    background-color: rgb(28, 156, 198);
    border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.movie-display p{
    color: rgb(43, 65, 65);
    padding: 2px;
    text-shadow: 2px 2px 8px rgb(215, 44, 230);
}
.movie-display img{
   width: 300px;
   padding: 6px;
   border-radius: 10px 10px 0px;
}